<div class="login-wrapper">
  <mat-card class="login-card">

    <h2>Optidata</h2>
    <p class="subtitle">Inicia sesión para continuar</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          Email inválido
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          Mínimo 6 caracteres
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width" type="submit">
        Ingresar
      </button>

    </form>

  </mat-card>
</div>